/* common style  */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

.button-primary {
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

/* nav related style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 0 150px;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;

}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li>a {
    text-decoration: none;
}

/* header style  */
header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
}

.banar-content {
    max-width: 500px;
}

.banar-gratings {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin: 0;
}

.banar-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banar-descroption {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
}

.profile-pic {
    width: 500px;
}

/* main section style  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section  */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}